@font-face {
  font-family: "iconfont"; /* Project id 4682518 */
  src: url('iconfont.woff2?t=1731250244477') format('woff2'),
       url('iconfont.woff?t=1731250244477') format('woff'),
       url('iconfont.ttf?t=1731250244477') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paixushangxia:before {
  content: "\e6b9";
}

.icon-dianpu:before {
  content: "\e736";
}

.icon-liebiao:before {
  content: "\e88f";
}

.icon-fenlei:before {
  content: "\e71b";
}

.icon-sigongge:before {
  content: "\e625";
}

.icon-gengduo:before {
  content: "\e626";
}

.icon-wangyiyunyinle:before {
  content: "\e600";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-fangzi:before {
  content: "\e8ff";
}

.icon-zantingbofang:before {
  content: "\e694";
}

.icon-aixin:before {
  content: "\e637";
}

.icon-zantingbofang1:before {
  content: "\e6eb";
}

.icon-guanbi:before {
  content: "\e647";
}

.icon-angle-right:before {
  content: "\e84e";
}

.icon-angle-left:before {
  content: "\e84f";
}

.icon-youxi:before {
  content: "\e643";
}

.icon-pengyouquan-copy:before {
  content: "\e659";
}

.icon-youjian:before {
  content: "\e624";
}

.icon-shezhi:before {
  content: "\e70f";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-wode:before {
  content: "\e635";
}

.icon-lianxiren:before {
  content: "\e697";
}

.icon-shoucang:before {
  content: "\e603";
}

.icon-huijipingzheng:before {
  content: "\e623";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-xiasanjiao:before {
  content: "\e613";
}

.icon-shangsanjiao:before {
  content: "\e66e";
}

.icon-zhaoxiangji:before {
  content: "\e663";
}

.icon-dingwei:before {
  content: "\e620";
}

.icon-dingwei1:before {
  content: "\e8c4";
}

.icon-sousuo:before {
  content: "\e602";
}